    <footer id="bottom-inner">
      Site by <%=config.author%> using
      <a href="http://hexo.io">Hexo blog framework</a>
      with theme of
      <a href="https://github.com/Yasukazu/ym-yo-Hexo-theme-generator-theme">ym-yo-Hexo-theme-generator-theme
      </a>
    </footer>